<style>
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 32px;
    background: #ee4d64;
    color: #e8e2e2;
    box-shadow: 0 0 4px 2px #888585;
  }
</style>

<div class="header">
  <h2>Olá, {{name}}</h2>
</div>
